.navbar-left-no-margin .container {
	margin-left: 0px;
}

.page-header {
	margin-top: 0px;
}

.content {
	margin-left: 10px;
	margin-right: 10px;
}

.col-center {
	text-align: center;
}

.col-right {
	text-align: right;
}

.modal-dialog {
	color: #333333;
}